---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="关于">
  <article class="article">
    <header class="article-header">
      <h1>About Me</h1>
      <div class="post-meta">code change the world</div>
    </header>
    <div class="article-body">
      <p>code change the world</p>
      <hr />
      <p>how to contact me:</p>
      <p>email: <a href="mailto:sh_def@163.com">sh_def@163.com</a></p>
      <p>where: PuTong ShangHai</p>
      <hr />
      <p>如果不是特别注明，博客代码都是基于当时 linux-stable 版本。</p>
    </div>
  </article>
</BaseLayout>
