[Unit]
Description=Hexo Preview Server (Local)
After=network.target

[Service]
Type=simple
User=suhui
WorkingDirectory=/home/suhui/workspace/blog/liulangrenaaa.github.io
ExecStartPre=/usr/bin/npm run build
ExecStart=/usr/bin/npm run server
TimeoutStartSec=10min
Restart=always
RestartSec=5
Environment=NODE_ENV=development
Environment=MERMAID_CONCURRENCY=4

[Install]
WantedBy=multi-user.target
